# Generate the consolidated dataset

## Consolidate

In [111]:
import pandas as pd

In [112]:
hosp_data_df = pd.read_csv('data/daily_count_of_cases.csv')
web_data_df = pd.read_csv('data/google-trends-data.csv')

In [113]:
hosp_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054 entries, 0 to 2053
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date_of_interest                 2054 non-null   object
 1   CASE_COUNT                       2054 non-null   int64
 2   PROBABLE_CASE_COUNT              2054 non-null   int64
 3   HOSPITALIZED_COUNT               2054 non-null   int64
 4   DEATH_COUNT                      2054 non-null   int64
 5   CASE_COUNT_7DAY_AVG              2054 non-null   int64
 6   ALL_CASE_COUNT_7DAY_AVG          2054 non-null   int64
 7   HOSP_COUNT_7DAY_AVG              2054 non-null   int64
 8   DEATH_COUNT_7DAY_AVG             2054 non-null   int64
 9   BX_CASE_COUNT                    2054 non-null   int64
 10  BX_PROBABLE_CASE_COUNT           2054 non-null   int64
 11  BX_HOSPITALIZED_COUNT            2054 non-null   int64
 12  BX_DEATH_COUNT                   2054 non-null   int64
 13  BX_CASE_COUNT_7DAY_AVG           2054 non-null   int64
 14  BX_PROBABLE_CASE_COUNT_7DAY_AVG  2054 non-null   int64
 15  BX_ALL_CASE_COUNT_7DAY_AVG       2054 non-null   int64
 16  BX_HOSPITALIZED_COUNT_7DAY_AVG   2054 non-null   int64
 17  BX_DEATH_COUNT_7DAY_AVG          2054 non-null   int64
 18  BK_CASE_COUNT                    2054 non-null   int64
 19  BK_PROBABLE_CASE_COUNT           2054 non-null   int64
 20  BK_HOSPITALIZED_COUNT            2054 non-null   int64
 21  BK_DEATH_COUNT                   2054 non-null   int64
 22  BK_CASE_COUNT_7DAY_AVG           2054 non-null   int64
 23  BK_PROBABLE_CASE_COUNT_7DAY_AVG  2054 non-null   int64
 24  BK_ALL_CASE_COUNT_7DAY_AVG       2054 non-null   int64
 25  BK_HOSPITALIZED_COUNT_7DAY_AVG   2054 non-null   int64
 26  BK_DEATH_COUNT_7DAY_AVG          2054 non-null   int64
 27  MN_CASE_COUNT                    2054 non-null   int64
 28  MN_PROBABLE_CASE_COUNT           2054 non-null   int64
 29  MN_HOSPITALIZED_COUNT            2054 non-null   int64
 30  MN_DEATH_COUNT                   2054 non-null   int64
 31  MN_CASE_COUNT_7DAY_AVG           2054 non-null   int64
 32  MN_PROBABLE_CASE_COUNT_7DAY_AVG  2054 non-null   int64
 33  MN_ALL_CASE_COUNT_7DAY_AVG       2054 non-null   int64
 34  MN_HOSPITALIZED_COUNT_7DAY_AVG   2054 non-null   int64
 35  MN_DEATH_COUNT_7DAY_AVG          2054 non-null   int64
 36  QN_CASE_COUNT                    2054 non-null   int64
 37  QN_PROBABLE_CASE_COUNT           2054 non-null   int64
 38  QN_HOSPITALIZED_COUNT            2054 non-null   int64
 39  QN_DEATH_COUNT                   2054 non-null   int64
 40  QN_CASE_COUNT_7DAY_AVG           2054 non-null   int64
 41  QN_PROBABLE_CASE_COUNT_7DAY_AVG  2054 non-null   int64
 42  QN_ALL_CASE_COUNT_7DAY_AVG       2054 non-null   int64
 43  QN_HOSPITALIZED_COUNT_7DAY_AVG   2054 non-null   int64
 44  QN_DEATH_COUNT_7DAY_AVG          2054 non-null   int64
 45  SI_CASE_COUNT                    2054 non-null   int64
 46  SI_PROBABLE_CASE_COUNT           2054 non-null   int64
 47  SI_HOSPITALIZED_COUNT            2054 non-null   int64
 48  SI_DEATH_COUNT                   2054 non-null   int64
 49  SI_CASE_COUNT_7DAY_AVG           2054 non-null   int64
 50  SI_PROBABLE_CASE_COUNT_7DAY_AVG  2054 non-null   int64
 51  SI_ALL_CASE_COUNT_7DAY_AVG       2054 non-null   int64
 52  SI_HOSPITALIZED_COUNT_7DAY_AVG   2054 non-null   int64
 53  SI_DEATH_COUNT_7DAY_AVG          2054 non-null   int64
 54  INCOMPLETE                       2054 non-null   int64
dtypes: int64(54), object(1)
memory usage: 882.7+ KB

In [114]:
web_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               318 non-null    int64
 1   Week                     318 non-null    object
 2   COVID-19: (New York NY)  318 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.6+ KB

In [115]:
hosp_data_df.head()

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,BX_CASE_COUNT,...,SI_CASE_COUNT,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_PROBABLE_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
web_data_df.head()

   Unnamed: 0        Week COVID-19: (New York NY)
0           0  2019-12-29                       0
1           1  2020-01-05                       0
2           2  2020-01-12                       0
3           3  2020-01-19                       0
4           4  2020-01-26                       0

In [117]:
# Restructure the date to match that of the hospitaldata.
web_data_df['date_of_interest'] =  web_data_df['Week'].apply( lambda x: x[5:7]+'/'+x[-2:]+'/'+x[0:4])

In [118]:
web_data_df.head()

   Unnamed: 0        Week COVID-19: (New York NY) date_of_interest
0           0  2019-12-29                       0       12/29/2019
1           1  2020-01-05                       0       01/05/2020
2           2  2020-01-12                       0       01/12/2020
3           3  2020-01-19                       0       01/19/2020
4           4  2020-01-26                       0       01/26/2020

In [119]:
# Merge the two dataframes
df = pd.merge(web_data_df, hosp_data_df, on='date_of_interest')

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 58 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       298 non-null    int64
 1   Week                             298 non-null    object
 2   COVID-19: (New York NY)          298 non-null    object
 3   date_of_interest                 298 non-null    object
 4   CASE_COUNT                       298 non-null    int64
 5   PROBABLE_CASE_COUNT              298 non-null    int64
 6   HOSPITALIZED_COUNT               298 non-null    int64
 7   DEATH_COUNT                      298 non-null    int64
 8   CASE_COUNT_7DAY_AVG              298 non-null    int64
 9   ALL_CASE_COUNT_7DAY_AVG          298 non-null    int64
 10  HOSP_COUNT_7DAY_AVG              298 non-null    int64
 11  DEATH_COUNT_7DAY_AVG             298 non-null    int64
 12  BX_CASE_COUNT                    298 non-null    int64
 13  BX_PROBABLE_CASE_COUNT           298 non-null    int64
 14  BX_HOSPITALIZED_COUNT            298 non-null    int64
 15  BX_DEATH_COUNT                   298 non-null    int64
 16  BX_CASE_COUNT_7DAY_AVG           298 non-null    int64
 17  BX_PROBABLE_CASE_COUNT_7DAY_AVG  298 non-null    int64
 18  BX_ALL_CASE_COUNT_7DAY_AVG       298 non-null    int64
 19  BX_HOSPITALIZED_COUNT_7DAY_AVG   298 non-null    int64
 20  BX_DEATH_COUNT_7DAY_AVG          298 non-null    int64
 21  BK_CASE_COUNT                    298 non-null    int64
 22  BK_PROBABLE_CASE_COUNT           298 non-null    int64
 23  BK_HOSPITALIZED_COUNT            298 non-null    int64
 24  BK_DEATH_COUNT                   298 non-null    int64
 25  BK_CASE_COUNT_7DAY_AVG           298 non-null    int64
 26  BK_PROBABLE_CASE_COUNT_7DAY_AVG  298 non-null    int64
 27  BK_ALL_CASE_COUNT_7DAY_AVG       298 non-null    int64
 28  BK_HOSPITALIZED_COUNT_7DAY_AVG   298 non-null    int64
 29  BK_DEATH_COUNT_7DAY_AVG          298 non-null    int64
 30  MN_CASE_COUNT                    298 non-null    int64
 31  MN_PROBABLE_CASE_COUNT           298 non-null    int64
 32  MN_HOSPITALIZED_COUNT            298 non-null    int64
 33  MN_DEATH_COUNT                   298 non-null    int64
 34  MN_CASE_COUNT_7DAY_AVG           298 non-null    int64
 35  MN_PROBABLE_CASE_COUNT_7DAY_AVG  298 non-null    int64
 36  MN_ALL_CASE_COUNT_7DAY_AVG       298 non-null    int64
 37  MN_HOSPITALIZED_COUNT_7DAY_AVG   298 non-null    int64
 38  MN_DEATH_COUNT_7DAY_AVG          298 non-null    int64
 39  QN_CASE_COUNT                    298 non-null    int64
 40  QN_PROBABLE_CASE_COUNT           298 non-null    int64
 41  QN_HOSPITALIZED_COUNT            298 non-null    int64
 42  QN_DEATH_COUNT                   298 non-null    int64
 43  QN_CASE_COUNT_7DAY_AVG           298 non-null    int64
 44  QN_PROBABLE_CASE_COUNT_7DAY_AVG  298 non-null    int64
 45  QN_ALL_CASE_COUNT_7DAY_AVG       298 non-null    int64
 46  QN_HOSPITALIZED_COUNT_7DAY_AVG   298 non-null    int64
 47  QN_DEATH_COUNT_7DAY_AVG          298 non-null    int64
 48  SI_CASE_COUNT                    298 non-null    int64
 49  SI_PROBABLE_CASE_COUNT           298 non-null    int64
 50  SI_HOSPITALIZED_COUNT            298 non-null    int64
 51  SI_DEATH_COUNT                   298 non-null    int64
 52  SI_CASE_COUNT_7DAY_AVG           298 non-null    int64
 53  SI_PROBABLE_CASE_COUNT_7DAY_AVG  298 non-null    int64
 54  SI_ALL_CASE_COUNT_7DAY_AVG       298 non-null    int64
 55  SI_HOSPITALIZED_COUNT_7DAY_AVG   298 non-null    int64
 56  SI_DEATH_COUNT_7DAY_AVG          298 non-null    int64
 57  INCOMPLETE                       298 non-null    int64
dtypes: int64(55), object(3)
memory usage: 135.2+ KB

In [121]:
df.head()

,Unnamed: 0,Week,COVID-19: (New York NY),date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,...,SI_CASE_COUNT,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_PROBABLE_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,INCOMPLETE
0,9,2020-03-01,7,03/01/2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,2020-03-08,29,03/08/2020,21,0,18,0,6,6,...,1,0,0,0,0,0,0,0,0,0
2,11,2020-03-15,43,03/15/2020,1034,0,210,4,419,419,...,47,0,20,0,17,0,17,6,0,0
3,12,2020-03-22,53,03/22/2020,2580,4,773,52,2925,2929,...,317,1,34,7,212,1,212,27,3,0
4,13,2020-03-29,68,03/29/2020,3560,66,1509,356,4306,4342,...,230,3,64,20,318,1,319,54,10,0

In [122]:
working_df = df[['date_of_interest', 'CASE_COUNT_7DAY_AVG', 'HOSP_COUNT_7DAY_AVG', 'DEATH_COUNT_7DAY_AVG', 'COVID-19: (New York NY)']]

In [123]:
working_df

,date_of_interest,CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,COVID-19: (New York NY)
0,03/01/2020,0,0,0,7
1,03/08/2020,6,8,0,29
2,03/15/2020,419,117,1,43
3,03/22/2020,2925,585,32,53
4,03/29/2020,4306,1413,217,68
...,...,...,...,...,...
293,09/14/2025,232,21,1,100
294,09/21/2025,241,22,0,95
295,09/28/2025,190,20,1,78
296,10/05/2025,150,17,1,72
297,10/12/2025,105,8,0,63

In [124]:
working_df['popularity_rating'] =  working_df['COVID-19: (New York NY)'].apply(lambda x: int(x) if x.isdigit() else 0)

/tmp/ipykernel_399593/1398158863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['popularity_rating'] =  working_df['COVID-19: (New York NY)'].apply(lambda x: int(x) if x.isdigit() else 0)

## Split the data in preparation for normalization

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
X = working_df[['HOSP_COUNT_7DAY_AVG', 'DEATH_COUNT_7DAY_AVG', 'popularity_rating', 'date_of_interest']]
y = working_df[['CASE_COUNT_7DAY_AVG']]

In [127]:
X.head()

,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,popularity_rating,date_of_interest
0,0,0,7,03/01/2020
1,8,0,29,03/08/2020
2,117,1,43,03/15/2020
3,585,32,53,03/22/2020
4,1413,217,68,03/29/2020

In [128]:
y.head()

   CASE_COUNT_7DAY_AVG
0                    0
1                    6
2                  419
3                 2925
4                 4306

In [129]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=False)

## Normalize training and test data

In [130]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [131]:

def normalizeDF(tdf, features):
    # create the scaler
    scaler = MinMaxScaler()
    
    # create a list of the normalized feature names
    norm_features = []
    for feature in features:
        feature_name = 'norm_' + feature
        
        norm_features.append(feature_name.lower())
        
    # normalize the features
    tdf.loc[:, norm_features] = scaler.fit_transform(tdf[features])

    # return the dataframe
    return tdf

In [132]:
def standardizeDF(tdf, features):
    # create the scaler
    scaler = StandardScaler()

    #create a list of the standardized feature names
    std_features = []
    for feature in features:
        feature_name = 'std_' + feature

        std_features.append(feature_name.lower())
    
    # standardize the features
    tdf.loc[:, std_features] = scaler.fit_transform(tdf[features])
    return tdf

In [133]:
X_train = normalizeDF(X_train, [ 'HOSP_COUNT_7DAY_AVG', 'DEATH_COUNT_7DAY_AVG', 'popularity_rating'])
X_test = normalizeDF(X_test, [ 'HOSP_COUNT_7DAY_AVG', 'DEATH_COUNT_7DAY_AVG', 'popularity_rating'])

X_train = standardizeDF(X_train, [ 'HOSP_COUNT_7DAY_AVG', 'DEATH_COUNT_7DAY_AVG', 'popularity_rating'])
X_test = standardizeDF(X_test, [ 'HOSP_COUNT_7DAY_AVG', 'DEATH_COUNT_7DAY_AVG', 'popularity_rating'])

In [134]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 238 entries, 0 to 237
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   HOSP_COUNT_7DAY_AVG        238 non-null    int64
 1   DEATH_COUNT_7DAY_AVG       238 non-null    int64
 2   popularity_rating          238 non-null    int64
 3   date_of_interest           238 non-null    object
 4   norm_hosp_count_7day_avg   238 non-null    float64
 5   norm_death_count_7day_avg  238 non-null    float64
 6   norm_popularity_rating     238 non-null    float64
 7   std_hosp_count_7day_avg    238 non-null    float64
 8   std_death_count_7day_avg   238 non-null    float64
 9   std_popularity_rating      238 non-null    float64
dtypes: float64(6), int64(3), object(1)
memory usage: 20.5+ KB

## Save the data

In [135]:
# Let's recombine the data
X_train['y'] = y_train[['CASE_COUNT_7DAY_AVG']]
X_test['y'] = y_test[['CASE_COUNT_7DAY_AVG']]

In [136]:
X_train.head()

,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,popularity_rating,date_of_interest,norm_hosp_count_7day_avg,norm_death_count_7day_avg,norm_popularity_rating,std_hosp_count_7day_avg,std_death_count_7day_avg,std_popularity_rating,y
0,0,0,7,03/01/2020,0.000000,0.00000,0.000000,-0.647999,-0.346949,-1.310849,0
1,8,0,29,03/08/2020,0.004785,0.00000,0.236559,-0.609648,-0.346949,-0.329773,6
2,117,1,43,03/15/2020,0.069976,0.00129,0.387097,-0.087116,-0.334692,0.294547,419
3,585,32,53,03/22/2020,0.349880,0.04129,0.494624,2.156417,0.045268,0.740491,2925
4,1413,217,68,03/29/2020,0.845096,0.28000,0.655914,6.125745,2.312771,1.409406,4306

In [137]:
X_train.set_index(keys="date_of_interest", inplace=True)
X_test.set_index(keys="date_of_interest", inplace=True)

In [138]:
X_train.head()

,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,popularity_rating,norm_hosp_count_7day_avg,norm_death_count_7day_avg,norm_popularity_rating,std_hosp_count_7day_avg,std_death_count_7day_avg,std_popularity_rating,y
date_of_interest,,,,,,,,,,
03/01/2020,0,0,7,0.000000,0.00000,0.000000,-0.647999,-0.346949,-1.310849,0
03/08/2020,8,0,29,0.004785,0.00000,0.236559,-0.609648,-0.346949,-0.329773,6
03/15/2020,117,1,43,0.069976,0.00129,0.387097,-0.087116,-0.334692,0.294547,419
03/22/2020,585,32,53,0.349880,0.04129,0.494624,2.156417,0.045268,0.740491,2925
03/29/2020,1413,217,68,0.845096,0.28000,0.655914,6.125745,2.312771,1.409406,4306

In [139]:
X_train.to_csv('data/train_data.csv')
X_test.to_csv('data/test_data.csv')